.annyHelps {
  font-family: Lato;
  font-style: normal;
  background-image: url("/assets/images/Rectangle.png");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include tablet() {
    height: auto;
    padding: 10px;
  }
  @include mobile() {
    padding: 10px;
  }

  &__title {
    font-size: 3.6rem;
    margin-top: 4.4rem;
  }
  &__description {
    margin-top: 4.4rem;
    font-size: 2.4rem;
  }
  &__wrap__card {
    margin-top: 7.6rem;
    padding-bottom: 14.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    @include mobile() {
      flex-direction: column;
    }
  }
  .anny__text {
    font-weight: 600;
    font-size: 18px;
    width: 277px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    @include mobile() {
      font-size: 14px;
    }
    @include tablet() {
      padding: 10px;
      width: auto;
    }
  }
  .anny_img {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .annyCard {
    margin: 0px 3.5rem 14.4rem 3.5rem;

    height: 200px;
    background: #ffffff;
    background: #ffffff;
    box-shadow: 3px 8px 24px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    @include mobile() {
      margin: 10px auto;
    }
    @include tablet() {
      @include calc(width, "100% / 3.5");
      margin: 10px;
    }
  }
}

.img__telegram {
  margin-top: 3.5rem;
}
