<div class="container annyHelps">
    <img class="img__telegram" src="../assets/images/telegram.png">
    <h2 class="annyHelps__title">
        Anny helps you manage your Telegram Channel
    </h2>
    <p class="annyHelps__description"></p>
    <div class="annyHelps__wrap__card">
        <div class="annyCard card__signal"  >
         <img class="anny_img" src='../assets/images/Signals.png'>
         <p class="anny__text">READ SIGNALS <br>FROM YOUR CHANNEL</p>
     </div>
      <div class="annyCard card__vip"  >
           <img class="anny_img" src='../assets/images/vip.png'>
            <p class="anny__text">DISTRIBUTE TO CHANNALE MEMBERS ONLY</p>
     </div>
      <div class="annyCard card__targert"  >
            <img class="anny_img" src='../assets/images/target.png'>
             <p class="anny__text">POST RESULT ON YOUR CHANNEL</p>
     </div>
    </div>
     
</div>