<div class="container crypto">
    <img class="img__telegram" src="../assets/images/telegram.png">
    <h2 class="crypto__title">Bring your trading project to life with our Crypto Exchange Hub </h2>
    <div class="crypto__contain__content row">
        <div class="crypto__wrap__content">
            <h3 class="crypto__title__child">
                CRYPTO EXCHANCE HUB
            </h3>
            <p class="">
                with out hub you seamlessly conect and transac with a
                multiple crypto exchanes with the signal API protocal.
            </p>
        </div>
        <div class="crypto__wrap__content">
            <h3 class="crypto__title__child">
                SIGNAL API COLLECTION
            </h3>
            <p class="">
                Distribute your signals and send follow-up calls
                to re-buy, take profit and tralling stop.
            </p>
        </div>
        <div class="crypto__wrap__content">
            <h3 class="crypto__title__child">
                ORDER API COLLECTION
            </h3>
            <p class="">
                whith the order colletion you're trades are not
                bound to signal and you may automaty.
            </p>
        </div>
    </div>
    <img class="img__telegram" src="../assets/images/api.png">
</div>