<header>
	<div class="container header" id="particles-js">
		<nav class="header__nav">
			<div class="branch">
				<img src="../assets/images/Logo.png" id="Icon" />
			</div>
			<div class="header-left">
				<h2 class="header-title">Virtual Assistants</h2>
			</div>
		</nav>
		<section class="main__content " id="main_content">
			<img class="img--anny" src="../assets/images/Anny_full_body.png">
			<div class="main__content--wrap">
				<h2 class="main__content--title">
					Monetize your Crytpo 
				</h2>
				<p class="main__content--textmain" id="textMain">
					Are you a professional trader was an amazing track record for
					spotting signals? Anny helps you create your commuinity, market, distribute
					and trades the signals you create
				</p>	
				<div class="contain-planPaper">
					<img class="img-paperPlan" src='../assets/images/planpage.png'>
					
				</div>
			</div>
			
		</section>
		<img class="img-Obal" src='../assets/images/Oval.png'>

	</div>
</header>