<header>
	<div class="container header" id="particles-js">
		<div id="mySidenav" class="sidenav">
		
		</div>
		<nav class="header__nav">
			<div class="branch">
				<img src="../assets/images/Logo.png" id="Icon" />
			</div>
			<div class="header-left">
				<h2 class="header-title">Virtual Assistants</h2>
			</div>
		</nav>
		<section class="main__content " id="main_content">
			<div>
				<h2 class="main__content--title">
					Monetize your Crytpo 
				</h2>
				<p class="text_main" id="textMain">
					are you professional trader wasy an amazing track record for
					spotting signals? Anny helps you create your commuinity, market, distribute
					and trades the signals you create
				</p>	
			</div>
			
		</section>
	
	</div>
</header>