<section class="wrapper" id="particles-js">
    <nav>
        <div class="branch">
            <img src="../assets/images/logo_header.png" id="Icon" />
        </div>
        <div class="header-left">
            <div class="insights"><a href='/'>actionable insights</a></div>
            <div>
                <ul class="navigation" id="navigation">
                    <li class="class--li"><a href="">How.</a></li>
                    <li class="class--li"><a href="">case studies.</a></li>
                    <li class="class--li"><a class="navi__a" id="library">us.</a>
                    </li>
                    <a id="btn__navigate--contact" href="">CONTACT.</a>
                </ul>
                <div class="div--toggle">
                    <img id="libraries" class="toggle" src="../assets/images/toggle_header.png" />
                </div>
            </div>
        </div>
    </nav>
    <section class="wrapper__text">
        <div class="line_content"></div>
        <p class="text_main">We extract data from servers and put it in the hands of users, where it’s most valuable.
        </p>
    </section>
    <div class="bottom_play">
        <button class="play_circle bg_white">
            <img src="../assets/images/play_polygon.png" />
        </button>
        <span>Watch how we do it — 2.08 sec</span>
    </div>
</section>