<section class="help-other container">
	<div class="row">
		<div class="help-other__top">
			<a href="#">See how we're helping others.</a>
		</div>
		<div class="help-other__bottom">
			<div>
				<div class="help-other__box">
					<p>In Retail</p>
					<a href="#" class="help-other__more">
						<p>In Retail</p>
						<p>
							<span>Discover</span>
							{{!-- <img src="../assets/images/Arrow7.png" alt=""> --}}
							<span><i class="fas fa-long-arrow-alt-right"></i></span>
						</p>
					</a>
				</div>
			</div>
			<div>
				<div class="help-other__box">
					<p>Medical Sector</p>
					<a href="#" class="help-other__more">
						<p>Medical Sector</p>
						<p>
							<span>Discover</span>
							{{!-- <img src="../assets/images/Arrow7.png" alt=""> --}}
							<span><i class="fas fa-long-arrow-alt-right"></i></span>
						</p>
					</a>
				</div>
			</div>
			<div>
				<div class="help-other__box">
					<p>Sercive Industry</p>
					<a href="#" class="help-other__more">
						<p>Sercive Industry</p>
						<p>
							<span>Discover</span>
						  {{!-- <img src="../assets/images/Arrow7.png" alt=""> --}}
							<span><i class="fas fa-long-arrow-alt-right"></i></span>
						</p>
					</a>
				</div>
			</div>
			<div>
				<div class="help-other__box">
					<p>Commerce</p>
					<a href="#" class="help-other__more">
						<p>Commerce</p>
						<p>
							<span>Discover</span>
              {{!-- <img src="../assets/images/Arrow7.png" alt="arrow"> --}}
							<span><i class="fas fa-long-arrow-alt-right"></i></span>
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
