<section class="impact-business">
    <p class="impact-business__title">How we directly impact businesses and productivity.</p>
    <div class="impact-business__content">
        <div class="impact-business__box"></div>
    </div>
</section>