<div class="container premium">
    <h2 class="">
        Become a Premium Partner
    </h2>
    <div class=" primeum__contain">
        <div class="primeum__wrap">
            <div class="primeum__wrap__number">
                <p class="primeum__number">
                    15%
                </p>
            </div>
            <ul  class="primeum__wrap__text">
                <li class="text__fist">
                    RECURRING  COMMISSION
                </li>
                <li class="text__end">
                    Gross over every member's
                    subcription fee
                </li >
            </ul>
        </div>
    </div>
     <div class="primeum__wrap">
            <div class="primeum__wrap__number">
                <p class="primeum__number">
                    50
                </p>
            </div>
            <ul  class="primeum__wrap__text">
                <li class="text__fist">
                   MINIMUM SUBCRIBERS
                </li>
                <li class="text__end">
                    Or 50% of proven adoption on Anny
                </li >
            </ul>
        </div>
    </div>
    <img class="img__hero" src="../assets/images/Background_hero.jpg">
</div>