<div class="container premium">
    <img class="img__line3" src="../assets/images/Line 3.png">
    <h2 class="premium__title">
        Become a Premium Partner
    </h2>
    <div class="row row__premium">
        <div class=" premium__contain">
            <div class="premium__wrap row">
                <div class="premium__wrap__number">
                    <p class="premium__number">
                        15%
                    </p>
                </div>
                <ul class="premium__wrap__text">
                    <li class="text__fist">
                        RECURRING COMMISSION
                    </li>
                    <li class="text__end">
                        Gross over every member's
                        subcription fee
                    </li>
                </ul>
            </div>
        </div>
        <div class="premium__wrap row">
            <div class="premium__wrap__number">
                <p class="premium__number">
                    50
                </p>
            </div>
            <ul class="premium__wrap__text">
                <li class="text__fist">
                    MINIMUM SUBCRIBERS
                </li>
                <li class="text__end">
                    Or 50% of proven adoption on Anny
                </li>
            </ul>
        </div>
    </div>
    <img class="img__dashboard" src="../assets/images/dashboard.png">
    <div class="premium__wrap__below">
        <p class="premium__text__partner">do you have what it take to become a premium partner</p>
        <div class="btn__apply">APPLY NOW</div>
        <p class="premium__text_lovehearing">we'd love hearing from you</p>
    </div>

    <img class="img__line_premium" src="../assets/images/Line.png">
</div>