<section class="processing_wrapper">
    <p class="title_wrapper">We help our clients automate and advance businesses through the processing and visualisation of data.</p>
    <div class="image_wrapper">
        <div class="image first_config">
            <div class="process_content">
                <p class="process_text">How we help you sell better.
                    <img src="../assets/images/Arrow 2.jpg">
                </p>
                <div class="continue_button">
                    <img  class = "img_continue" src="../assets/images/Polygon 1.jpg"/>
                </div>
            </div>
        </div>
        <div class="image second_config">
            <div class="process_content">
                <div class="article">
                    <p class="process_text">How we structure data for decisson making.
                       <img class = "" src="../assets/images/Arrow 2.jpg">
                    </p>
                </div>
               
                <div class="continue_button">
                    <img class = "img_continue" src="../assets/images/Polygon 1.jpg"/>
                </div>
            </div>
        </div>
    </div>
</section>