<div class="container">
    <div class="contain--card">
        <div class=" card card-small" id="card-small-l">
            <img class="img-startup " src="../assets/images/startup.png">
            <h3 class="title-card">MONETIZE YOUR SIGNALS</h3>
            <P class="infor-card">User Anny to receive payment for your signal. Develop
                new customers and retain existing onse
            </P>
        </div>
        <div class="card card-big">
            <img class="img-whale" src="../assets/images/whale.png">
            <h3 class="title-card " id="title-card-big">TRADE LIKE A WHALE</h3>
            <P class="infor-card" id="infor-card-big">
                Use your subcribes purcharsing power to comfirm a signal
                beackout
            </P>
        </div>
        <div class="card card-small " id="card-small-r">
            <img class="img-joystick" src="../assets/images/joystick.png">
            <h3 class="title-card">OFFER REMOTE CONTROL</h3>
            <p class="infor-card">uses remote controto make a signal call to sell, change trailing
                stop lose or re-buy
            </p>
        </div>
    </div>

    <div class="signal">
        <div class="wrap__img-line3">
            <img class="img-line3" src='../assets/images/Line 3.png'>
        </div>
        <div class="signal__wrap">
            <h2 class="signal__title">Ceate a new signal group in less 5 minutes</h2>
            <img class='img__line' src='/assets/images/Line.png' alt="line">
            <div class="signal__circle__wrap">
                <div class="signal__subsribe">
                    <div class="circle ">
                        <p class="text__number">1</p>
                    </div>
                    <h2 class="text__bolth text__description">
                        SUBSCRIBE TO THE PRO PLAN
                    </h2>
                </div>
                <div class="signal__configure">
                    <div class="circle ">
                        <p class=" text__number">2</p>
                    </div>
                    <h2 class="text__mid text__description"> 
                        CONFIGURE YOUR SIGNAl GROUP
                    </h2>
                </div>
                <div class="signal__start">
                    <div class="circle ">
                        <p class="text__number">3</p>
                    </div>
                    <h2 class="text__bolth text__description">
                        START INVITING MEMBERS
                    </h2>
                </div>

            </div>
        </div>
    </div>

</div>