@import url("https://rsms.me/inter/inter.css");
@import "./styles/commons/reset.scss";
@import "./styles/header.scss";
@import "./styles/signaGroup.scss";

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-size: 10px;
}
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}


